<li>
  <%= form_with model: item, url: '/items' do |form| %>
    <%= form.check_box :purchased,
      data: {
        item: { id: item.id },
        action: "items#toggle"
      } %>
    <%= item.name %> <%= item.tag_list.any? ? "[#{item.tag_list}]" : '' %>
    <%= link_to "X", item_path(item), data: { turbo_method: :delete } %>
  <% end %>
</li>
