<div class="mx-auto w-11/12 max-w-3xl">
  <h2 class="text-2xl text-gray-900 flex py-2">
    <img src="/icon.png" class="object-scale-down w-8 h-8" />
    Shopping List
  </h2>

  <%= form_with url: items_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "items-container" } do |form| %>
    <div class="flex items-stretch flex-grow px-4 py-2">
      <%= form.text_field :search, class: "block w-full rounded-none rounded-l-md sm:text-sm border-gray-300", placeholder: "Search", data: { action: "input->search-form#search" } %>
    </div>
  <% end %>

  <%= turbo_frame_tag "items-container", class: "block max-w-full w-full bg-gray-100 py-4 px-4 border border-gray-200 rounded shadow-sm" do %>
    <div class="border-b border-gray-200 w-full">
      <% if params[:tag] %>
        <div class="px-1 mx-4 text-white bg-gray-400 rounded w-min"><%= link_to link_to params[:tag], items_path(purchased: params[:purchased]) %></div>
      <% end %>

      <ul class="flex space-x-2 justify-center">
        <li>
          <%= link_to "Need", items_path(purchased: false, tag: params[:tag]),
            class: "inline-block py-4 px-4 text-lg font-medium text-center text-gray-500 border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300" %>
        <li>
          <%= link_to "Bought", items_path(purchased: true, tag: params[:tag]),
            class: "inline-block py-4 px-4 text-lg font-medium text-center text-gray-500 border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300" %>
        </li>
      </ul>
    </div>

    <ul id="items">
      <%= render @items %>
    </ul>

    <div class="py-2 px-4">
      <%= render 'form', item: @item %>
    </div>

  <% end %>
</div>
